<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--  Font Awesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" crossorigin="anonymous">
    <!-- BOOTSWATCH -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/journal/bootstrap.min.css" rel="stylesheet" integrity="sha384-ciphE0NCAlD2/N6NUApXAN2dAs/vcSAOTzyE202jJx3oS8n4tAQezRgnlHqcJ59C" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>




  <body>

  <!-- Navigation -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
<%= link_to "The Gossip Project" , gossips_path, :class => "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-link">
      <%= link_to "L'équipe" , team_path, :class => "nav_item active" %> <span class="sr-only">(current)</span>
      </li>
      <li class="nav-link">
          <%= link_to "Contact", contact_path, :class => "nav_item active" %>

      <li class="nav-link">
    <% if session_en_cours? %>
       <%= link_to "Bienvenue " + current_user.first_name,  {controller: "users", action: "show", id: current_user.id}, :class => "nav_item active" %>
    <% else %>
      <%= link_to "S'inscrire", new_user_path, :class => "nav_item active" %>
     <% end %>  
      </li>

    <li class="nav-link">
    <% if session_en_cours? %>
      <%= link_to "Se déconnecter", session_path(session.id), method: :delete , :class => "nav_item active"%>
    <% else %>
      <%= link_to "Se connecter", sessions_new_path, :class => "nav_item active" %>
    <% end %> 
      </li> 

    </ul>       
  </div>
</nav>

 <!-- FLASH MESSAGES -->

    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "alert-#{key}" %>
    <% end %>
    

    <%= yield %>
  </body>
</html>
